* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-add-size: 60px;
}

body,
html {
  position: relative;
}

button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 0 4rem;
}

.lib-header {
  font-size: 3rem;
  font-family: 'Vidaloka', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  font-weight: 900;
}

.lib-log {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f24236;
  padding: 1.5rem;
  border-radius: 6px;
}

.log-title {
  grid-column: span 2;
  font-size: 1.2rem;
  font-weight: 900;
}

.log-count {
  padding-left: 1rem;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
  height: 360px;
  color: white;
  /* background: linear-gradient(
    to bottom left,
    rgb(16, 181, 187),
    rgb(45, 255, 150)
  ); */
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 2.1rem 1rem 1rem 1.5rem;
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.book-has-read {
  background-color: #f5f749;
}

.book-unread {
  background-color: #2e86ab;
}

.book::before {
  content: '';
  height: 100%;
  width: 7px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15),
    white,
    rgba(0, 0, 0, 0.507)
  );
  mix-blend-mode: multiply;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 7px;
}

.book-title {
  font-family: 'Marcellus', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.book-author {
  padding-top: 0.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.btn-del-book,
.btn-finished {
  position: absolute;
  z-index: 2;
  /* top: -15px;
  right: -20px; */
  color: white;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  transition: all ease-in-out 150ms;
}

.btn-del-book {
  top: -10px;
  right: -10px;
  background-color: rgba(241, 79, 79, 0.959);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.89);
}

.btn-finished {
  background-color: green;
}

.btn-del-book:hover {
  transform: scale(1.1);
}

.material-icons.icons-delete,
.material-icons.icons-finished {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.767);
}

.book-window {
  position: absolute;
  background-color: #f6f5ae;
  color: black;
  border-radius: 6px;
  bottom: 2rem;
  left: 1.5rem;
  right: 1rem;
  padding: 0.75rem;
  font-size: 0.85rem;
}

.book-info {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.6rem;
  vertical-align: baseline;
}

/*  TOGGLE SWITCH */

.toggle-read {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.toggle-label {
  padding-right: 0.5rem;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid black;
  background: #eee;
  transition: all 0.4s;
  cursor: pointer;
}

input[type='checkbox']::before {
  width: 16px;
  height: 16px;
  border-radius: 9px;
  background-color: black;
  content: '';
  position: absolute;
  top: 15%;
  left: 10%;
  transition: all 0.4s;
}

input[type='checkbox']:checked {
  background-color: #11cc8e;
  transition: all 0.4s;
}

input[type='checkbox']:checked::before {
  left: 55%;
  transition: all 0.4s;
}

input:focus {
  box-shadow: 0px 0px 3px 0px black;
}

/*  ADD NEW BOOK BUTTON */

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.btn-add-book {
  width: var(--btn-add-size);
  height: var(--btn-add-size);
  background: #f24236;
  border-radius: 50px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 500ms;
}

.btn-add-book:hover {
  transform: rotate(180deg) scale(1.25);
}

.material-icons.icons-add {
  color: white;
  font-weight: 900;
  font-size: 3rem;
}

/*  FORM FOR BOOK */

.form-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  align-items: center;
}

.form-book {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  width: max-content;
  margin: 0 auto;
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.281);
  z-index: 5;
  padding: 3rem;
  border-radius: 10px;
}

.form-legend {
  font-size: 1.5rem;
  font-family: 'Vidaloka', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.input-field {
  width: 360px;
  padding: 0.5rem 10px;
  margin-top: 0.5rem;
}

.btn-container {
  display: flex;
  margin-top: 1rem;
}

.btn-clear,
.btn-submit {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.664);
}

.btn-clear {
  flex-grow: 1;
  width: 20%;
  margin-right: 5px;
}

.btn-submit {
  flex-grow: 2;
  margin-left: 5px;
}

/* HELPER STYLES */
.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 4;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  padding-top: 0.3rem;
  margin-left: 0.6rem;
}
